<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyin.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyin.entity.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sno" jdbcType="INTEGER" property="sno" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="sage" jdbcType="INTEGER" property="sage" />
    <result column="saddress" jdbcType="VARCHAR" property="saddress" />
  </resultMap>
</mapper>